body {
    background: linear-gradient(to bottom, #ffffff, #a3f39b);
    background-attachment: fixed;
}

.plant-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    /* Espacio entre la imagen y el texto */
}

.price-text {
    font-size: 20px;
    /* Tamaño de fuente más grande */
}

.btn-return {
    margin-top: 20px;
    /* Espacio superior */
}

.card {
    background-color: #a8bda7 ; /* Color de fondo de las cards */
    border-radius: 15px; /* Esquinas curvadas */
    position: relative; /* Posición relativa para el botón */
}

.card-img {
    height: 200px; /* Altura de la imagen */
    object-fit: cover; /* Ajustar la imagen dentro del contenedor */
    border-top-left-radius: 15px; /* Esquinas curvadas en la parte superior izquierda */
    border-top-right-radius: 15px; /* Esquinas curvadas en la parte superior derecha */
}

.ver-detalles-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.titulo-div {
    width: 50%; /* Anchura reducida */
    margin: 0 auto; /* Centrado horizontalmente */
}
